</div></div>

</body>
<footer>
        <a class="footer-link" href="https://www.facebook.com/TravelTwenty4Seven-1134496400087292" target="_blank"><i
                        class="footer-icon fab fa-facebook-f"></i></a>
        <a class="footer-link" href="mailto:traveltwenty4seven@yahoo.com" target="_blank"><i
                        class="footer-icon fas fa-envelope"></i></a>
        <a id="login-icon" class="footer-link" href="/users/login"><i class="fas fa-user-circle"></i></a>

        <a class="footer-link" href="/contacts"><i class="fas fa-info-circle"></i></a>
        <a class="footer-link" href="/parcels"><i
                        class="fas fa-box-open"></i></a>

</footer>
<script src="/js/isToken.js"></script>

</html>