</div>
</div>

<footer>
        <a class="footer-link" href="https://www.facebook.com/TravelTwenty4Seven-1134496400087292" target="_blank"><i
                        class="footer-icon fab fa-facebook-f"></i></a>
        <a class="footer-link" id="login-icon" href="/"><i class="fas fa-user-circle"></i></a>

        <a class="footer-link" href="/contacts"><i class="fas fa-info-circle"></i></a>

</footer>
</body>

</html>