</div></div>
</body>
<footer>
        <a class="footer-link" href="https://www.facebook.com/TravelTwenty4Seven-1134496400087292" target="_blank"><i
                        class="footer-icon fab fa-facebook-f"></i></a>
        <a class="footer-link" href="mailto:traveltwenty4seven@yahoo.com" target="_blank"><i
                        class="footer-icon fas fa-envelope"></i></a>
        <a class="footer-link" href="/contacts" target="_blank"><i class="fas fa-info-circle"></i></a>
        <a class="footer-link" href="/travel" target="_blank"><i class="fas fa-shuttle-van"></i></a>
        <a class="footer-link" href="/parcels" target="_blank"><i
                        class="fas fa-box-open"></i></a>

</footer>

</html>