<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
        integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">


    <title> TravelTwenty4Seven </title>

    <link rel="stylesheet" media="screen and (max-width: 600px)" href="css/phone.css">

    <link rel="stylesheet" media="screen and (min-width: 601px) and (max-width: 899px)" href="css/tablet.css">
    <link rel="stylesheet" media="screen and (min-width: 900px)" href="css/tablet.css">




    <nav class="navbar">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/contacts">Contacs</a>
        <a class="nav-link" href="/books">Book Here</a>
    </nav>


</head>

<body>  
    <div class="bg"></div>
    <div class="bg-image"> </div>
    <div class="arrow"></div>

    <div class="body">
        <div class="logo">
            <h1> TravelTwenty4Seven </h1>
        </div>