<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- external links -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
        integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&family=Dancing+Script:wght@400;500;600;700&family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap"
        rel="stylesheet">

    <title> TravelTwenty4Seven </title>

    <link rel="stylesheet" href="/css/styles.css">

    <header>
        <nav class="navbar">

            <div class="navbar-item">
                <a class="navbar-link" href="/contacts">Contact Us</i></a>
            </div>
            <div class="navbar-item">
                <a id="login" class="navbar-link" href="/users/login">Login</i></a>
            </div>
        </nav>
    </header>



</head>

<body>
    <div class="bg-image"> </div>
    <div class="bg-dark"></div>
    <div class="bg-line"></div>
    <div class="bg-logo">
        <a href="/">
            <img src="/img/logo-200x85tr.png" alt="">
        </a>
    </div>

    <div class="page">
        <div class="page-body">