<script src="/js/setCookie.js"></script>
<div class="user-body">

    <div class="username">
        <a href="">
            <h1 class="user-name"> <%= user.name %></h1>
        </a>
    </div>

    <div class="user-directions">
        <a href="/parcels"><button class="btn btn-max">Parcels</button></a><br>
        <a href=""><button class="btn btn-max">Travel</button></a>
    </div>

    <div id="user-display" class="user-display">