<script src="/js/setCookie.js"></script>
<div class="user-body">

    <div class="username">
        <a href="/users/home">
            <h1 class="user-name"> <%= username %></h1>
        </a>
    </div>

    <div class="user-directions">
        <a href="/users/update"><button class="btn btn-max">Edit My Profile</button></a>
        <a href="/users/history"><button class="btn btn-max">My History</button></a>

        <a href="/parcels"><button class="btn btn-max">New Parcel</button></a><br>
        <a href=""><button class="btn btn-max">Book Ticket</button></a>
    </div>

    <div id="user-display" class="user-display">