<div class="user-body">

    <div class="user-buttons">
        <div>
            <a class="user-nav" href="/users/history">&gt; My History</a>
        </div>
        <div>
            <a class="user-nav" href="/parcels">&gt; New Parcel</a><br>
        </div>
        <div>
            <a class="user-nav" href="/travel">&gt; Request Ticket</a>
        </div>
        <div>
            <a class="user-nav" href="/users/update">&gt; Edit Info</a>
        </div>
    </div>

            <h1 class="username"> <%= username %></h1>


