<%- include("../partials/header") -%>
<form action="/users" method="POST">

<div class="signin-body">

        <div class="signin-main">
            <div class="form-element">
                <input name="name" type="text" autocomplete="off" placeholder="Name" required>
            </div>
            <div class="form-element">
                <input name="email" type="text" autocomplete="off" placeholder="Email" required>
            </div>
            <div class="form-element">
                <input name="password" type="password" autocomplete="off" placeholder="password" required>
            </div>
            <div class="form-element">
                <input name="phoneNumber" type="text" autocomplete="off" placeholder="Phone Number" required>
            </div>
        </div>
        <div class="signin-address">
            <div class="form-element">
                <input name="country" type="text" autocomplete="off" placeholder="Country" required>
            </div>
            <div class="form-element">
                <input name="city" type="text" autocomplete="off" placeholder="City" required>
            </div>
            <div class="form-element">
                <input name="street" type="text" autocomplete="off" placeholder="Street" required>
            </div>
            <div class="form-element">
                <input name="postcode" type="text" autocomplete="off" placeholder="Postcode" required>
            </div>
        </div>


        <div class="signin-checkbox">
            <input type="checkbox" name="agreement" id="" value="true" required><label>I agree with term and conditions</label>
        </div>
        <button type="submit" class="btn">Sign In</button>


</div>
</form>

<%- include("../partials/footer") -%>