<%- include("../partials/header") -%>
<%- include("../partials/user-header") -%>
<div class="update-body">
    <p class="update-header">Enter field to edit: </p>

    <form class="update-form" id="update-form" action="/users/update" method="POST">
        <select class="updator" id="update-options" autofocus>
            <option value="name">Name</option>
            <option value="email">Email</option>
            <option value="phoneNumber">Phone Number</option>
            <option value="password">New Password</option>
            <option value="country">Country</option>
            <option value="city">City</option>
            <option value="street">Street</option>
            <option value="postcode">Postcode</option>
        </select>
        <div class="login-element">
            <input id="update" type="text" name="name" placeholder="Name" required>
        </div>

        <div class="login-element">
            <p class="update-label">Password:</p>

            <input id="new" type="password" name="currentPassword" placeholder="password" required>
        </div>
        <div class="login-element">

            <button class="btn right" form="update-form" type="submit">Send</button>
        </div>
    </form>

</div>


<script src="/js/update.js"></script>
<%- include("../partials/user-footer") -%>
<%- include("../partials/footer") -%>