<%- include("../partials/header") -%>


<div class="contacts">
    <p><img class="flag" src="img/RO.png" alt=""> +40771611544</p>
    <p><img class="flag" src="img/UK.png" alt=""> +447476185849</p>
    <p><img class="flag" src="img/UK.png" alt=""> +447447937360</p>
</div>


</div>
<%- include("../partials/footer") -%>