<%- include("../partials/header") -%>
<div class="body-contacts">

     <div class="numbers">
        <p class="number"><img class="flag" src="img/RO.png" alt=""> +40771611544</p>
        <p class="number"><img class="flag" src="img/UK.png" alt=""> +447476185849</p>
        <p class="number"><img class="flag" src="img/UK.png" alt=""> +447447937360</p>
    </div>

</div>
<%- include("../partials/footer") -%>