<%- include("../partials/header") -%>
<div class="contacts-body">

     <div class="contacts-numbers">
        <p class="contacts-number"><img class="contacts-flag" src="img/RO.png" alt=""> +40771611544</p>
        <p class="contacts-number"><img class="contacts-flag" src="img/UK.png" alt=""> +447476185849</p>
        <p class="contacts-number"><img class="contacts-flag" src="img/UK.png" alt=""> +447447937360</p>
    </div>

</div>
<%- include("../partials/footer") -%>