<%- include("../partials/header") -%>

<div class="header">
    <h2>Transport</h2>
    <!-- <h2> PERSOANE SI COLETE</h2> -->
    <h2> persoane si colete</h2>

    <!-- <h3>RUTA ROMANIA-ANGLIA</h3> -->
    <h3>Ruta Romania - Anglia</h3>

    <!-- <h4>TUR-RETURN</h4> -->
    <h4>Tur - Return</h4>

</div>

<div class="mobiles">
    <div class="mobile-center">
        <p><img class="flag" src="img/RO.png" alt=""> +40771611544</p>
        <p><img class="flag" src="img/UK.png" alt=""> +447476185849</p>
        <p><img class="flag" src="img/UK.png" alt=""> +447447937360</p>
    </div>
</div>

<div class="roads">
    <p>Romania - Ungaria - Austria - Germania - Belgia - Olanda - Franta - Anglia</p>
</div>

</div>

<form class="btn-book-holder" action="/books">
    <button class="btn-book" type="submit">GO</button>
</form>


<%- include("../partials/footer") -%>