<%- include("../partials/header") -%>
<div class="index-body">

    <div class="index-msg">

        <div class="">
            <h2 class="index-msg-main"><span class="block">Transport </span>Persoane si Colete</h2>
        </div>

        <div class="index-msg-extra">
            <p class="index-msg-extra-white">Ruta Romania - Anglia</p>
            <p class="index-msg-extra-blue">Tur - Return</p>
        </div>

    </div>    

    <div class="index-roads">
        <p class="index-roads-title">Romania - Ungaria - Austria - Germania - Belgia - Olanda - Franta - Anglia</p>
    </div>

</div>
<%- include("../partials/footer") -%>