<%- include("../partials/header") -%>
<div class="body-index">

    <div class="msg">

        <div class="">
            <h2 class="msg-main"><span class="block">Transport </span>Persoane si Colete</h2>
        </div>

        <div class="msg-extra">
            <p class="msg-extra-white">Ruta Romania - Anglia</p>
            <p class="msg-extra-blue">Tur - Return</p>
        </div>

    </div>    

    <div class="roads">
        <p class="roads-title">Romania - Ungaria - Austria - Germania - Belgia - Olanda - Franta - Anglia</p>
    </div>

</div>
<%- include("../partials/footer") -%>