<%- include("../partials/header") -%>
<form id="login-form" action="/users/login" method="POST">
    <div class="login-body">
        <div class="login-holder">
            <div class="login-element">
                <label for="email">Email</label>
                <input name="email" type="text" placeholder="john@email.com" autofocus required>
            </div>

            <div id="password" class="login-element">             
                <label for="password">Password</label>
                <input  name="password" type="password" autocomplete="off" placeholder="password" required>
            </div>

            <div class="login-element">
                <button form="login-form" class="btn right" type="submit">Login</button>

                <a href="/signin"> <button class="btn" type="button">Sign In</button> </a>

            </div>

            <p class="login-error"><%=loginError%></p>
            <div class="mb mt">
                <a id="forgot" >Forgoten Password?</a>

            </div>

        </div>
    </div>
</form>
<script src="/js/login.js"></script>
<%- include("../partials/footer") -%>