<%- include("../partials/header") -%>

<div class="login-body">

    <div>
        <form id="login-form" class="login-form" action="/users/login" method="POST">

            <div class="form-element">
                <label for="">Email</label>
                <input name="email" type="text" placeholder="john@email.com" required>
            </div>

            <div class="form-element">
                <label for="">Password</label>
                <input name="password" type="password" autocomplete="off" placeholder="password" required>
            </div>
        </form>
    </div>
    <div class="form-element">

        <a href="/signin"> <button class="btn">Sign In</button> </a>

        <button form="login-form" class="btn btn-right" type="submit">Login</button>

    </div>
    
    <p class="login-error"><%=loginError%></p>
</div>


<%- include("../partials/footer") -%>