<%- include("../partials/header") -%>

 <div class="body-login">
     <form action="/login" method="POST">

        <div class="form-element">
            <label for="">Email</label>
            <input name="email" type="text" autocomplete="off" placeholder="john@email.com" required>
        </div>

        <div class="form-element">
            <label for="">Password</label>
            <input name="password" type="text" autocomplete="off" placeholder="password" required>
        </div>
  </form>
 </div>
<%- include("../partials/footer") -%>