<%- include("../partials/header") -%>
<form action="/users" method="POST">

    <div class="signin-body">

        <div class="signin-main">
            <div class="form-element">
                <input name="name" type="text" autocomplete="off" placeholder="Name" required autofocus>
            </div>
            <div class="form-element">
                <input name="email" type="text" autocomplete="off" placeholder="Email" required>
            </div>
            <div class="form-element">
                <input name="password" type="password" autocomplete="off" placeholder="password" required>
            </div>
            <div class="form-element">
                <input name="phoneNumber" type="text" autocomplete="off" placeholder="Phone Number" required>
            </div>
            <div class="form-element">
                <input name="country" type="text" autocomplete="off" placeholder="Country" required>
            </div>
            <div class="form-element">
                <input name="city" type="text" autocomplete="off" placeholder="City" required>
            </div>
            <div class="form-element">
                <input name="street" type="text" autocomplete="off" placeholder="Street" required>
            </div>
            <div class="form-element">
                <input name="postcode" type="text" autocomplete="off" placeholder="Postcode" required>
            </div>
            <input type="checkbox" name="agreement" id="signIn" value="true" required>
            <label for="signIn">I agree with terms and conditions</label>
                <button type="submit" class="btn right signin-btn">Sign In</button>    
        </div>

        <div class="terms-box">
            <h1>Terms and conditions:</h1>
            <embed src="/txt/Terms.txt" type="text/html">
        </div>


    </div>
</form>

<%- include("../partials/footer") -%>